{snippet cookiePolicy}
    <div id="cookiePolicy" n:if="$view">
        {_'CookiePolicy.text'}
        <a n:ifset="$link" href="{$link}">{_'CookiePolicy.link'}</a>
        <a class="ajax button" n:href="agree!" data-ajax-off="history">{_'CookiePolicy.understand'}</a>
    </div>
{/snippet}
