{snippet cookiePolicy}
    <div id="cookiePolicy" n:if="$view">
        {_'cookiePolicy.text'}
        <a n:ifset="$link" href="{$link}">{_'cookiePolicy.link'}</a>
        <a class="ajax button" n:href="agree!" data-ajax-off="history">{_'cookiePolicy.understand'}</a>
    </div>
{/snippet}
