web:
    hooks:
        cookiePolicy:
            title: "Set of cookies files"
            enable: "Display confirmation of cookies usage"
            link: "Link for information about cookies usage"
            analytics: "Analytic cookies files"
            functional: "Function cookie files"
            commercial: "Advertising cookies files"